<h1>Review Form for <%= @restuarant.name %> :</h1>

<%= form_for [@restuarant, @review] do |f| %>
  <div class= "row">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class= "button">
    <%= f.submit "Add Review" %>
  </div>
  <% end %>
